     #slideshow {
	position: relative;
   }

   #slideshow p {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 8;
	opacity: 0.0;
	margin: 0;
	/* NOT USE
   background-color: white;  ボックスの背景色(必須) */ 
   }

   #slideshow p.active {
   z-index: 10;
   opacity: 1.0;
   }

   #slideshow p.last-active {
   z-index: 9;
   }

   #slideshow p img {
   display: block;
   border: 0;
   }

@media screen and (min-width:600px){

#slideshow{
  position:relative;
  width:500px;
  height:320px;
  display:block;
  float:left;
}
#slideshow img{
  width:500px;
  height:320px;
}
}

@media screen and (max-width:600px){
#slideshow{
  width:100%;
  height:70vw;
  margin:0px;
}
#slideshow p{
  width:100%;
  height:70vw;
}

#slideshow p img{
  width:100%;
  height:70vw;
  position:absolute;
  margin:0px;
}

.active {
  background-color: #2996FF;
}

}